albumentations==1.2.1
datasets==2.13.1
google-cloud==0.34.0
google-colab==1.0.0
joblib==1.2.0
livelossplot==0.5.5
matplotlib==3.7.1
MedPy==0.4.0
nibabel==3.0.2
numpy==1.22.4
onedrivedownloader==1.1.3
opencv_contrib_python==4.7.0.72
opencv_python==4.7.0.72
opencv_python_headless==4.7.0.72
pandas==1.5.3
Pillow==8.4.0
protobuf==3.20.3
Requests==2.27.1
scikit_learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
slicer==0.0.7
torch==2.0.1+cu118
torchinfo==1.8.0
torchsummary==1.5.1
torchvision==0.15.2+cu118
tqdm==4.65.0
transformers==4.31.0.dev0
